#############
# Refer https://pytorch.org/get-started/locally/
# Following is for linux with Cuda 10.2
torch
torchvision
torchaudio
#############
Flask
tqdm >= 4.30
librosa >= 0.6.3
colorama >= 0.3.9
soundfile
pydub == 0.25.1
